@import url("https://fonts.googleapis.com/css2?family=Raleway");

body {
  background: #f7f7f7;
  color: #333333;
  margin-top: 5rem;
  font-family: 'Raleway';
}

/* Login and sign up*/
.register-section {
  padding: 50px 50px 50px 50px;
  margin-top: 50px;
  border-radius: 10px;
  background-color: white;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.register-h1 {
  color: #333333;
  font-weight: 700;
}

.register-labels {
  font-size: 13px;
  font-weight: 700;

}

input {
  margin-top: 5px;
  margin-bottom: 12px;
  padding-left: 20px;
  border: 1px solid #ccc;
  height: 40px;
  width: 95%;
  color: #797979;
  font-size: 15px;
}

.register-fields:focus {
  border: 1px solid #222629;
}

input[type="text"],
input[type="password"] {
  outline: none;
}

input,
button,
submit {
  border: none;
}

.register-fields {
  margin-top: 5px;
  margin-bottom: 12px;
  padding-left: 20px;
  border: 1px solid #ccc;
  height: 40px;
  width: 95%;
  color: #797979;
  font-size: 15px;


}

input[type=submit] {
  height: 40px;
  border-radius: 50px;
  color: white;
  background-color: #333333;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

}

input[type=submit]:hover {
  background-color: #222629;
  color: white;
}

input[type=submit]:focus {
  outline: none;
}

span {
  color: rgb(124, 124, 124);
  font-size: 13px;
}

.place {
  position: relative;
}

.place i {
  float: right;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 40px;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
  color: rgb(124, 124, 124);
  margin-top: 20px;
  font-size: 12px;
  text-align: center;

}

a:hover {
  color: #333333;
}

section>div {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

hr {
  margin-top: 20px;
  width: 300px;
  max-width: 70%;
}

#subjects {
  width: 100%;
}

/*--------------------------------------------- reigster end --------------------------------*/

@media screen and (max-width: 600px) {
  .register-section {
    padding: 30px 30px 30px 30px;
    margin: 20px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .register-h1 {
    font-size: 20px;
  }

  .register-fields {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
  }

  select {
    width: 100% !important;
  }

  .small-fields-container {
    display: block;
  }

  #username {
    width: 92%;
  }

  #id {
    width: 92%;
    margin-left: 0px;
  }

  #id-label {
    margin-left: 0%;
  }



  .rigster-labels {
    font-size: 12px;
  }

}