body{
    background-color: #EBEBEB;
    font-family: 'Raleway';
    margin: 20px;
}
section {
    padding: 50px 50px 50px 50px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: white;
    max-width: 400px; 
    margin-left: auto; margin-right: auto;
}
h1 {
    color: #4935D4;
    font-weight: 700;
}
.reset-labels {
     font-size: 13px;
     font-weight: 700;
     
}
.rest{
    margin-top: 5px;
    margin-bottom: 12px;
    padding-left: 20px;
    border: 1px solid #ccc;
    height: 40px;
    width: 95%;
    color: #797979;
    font-size: 15px;

    
 }
.rest:focus{
    border: 1px solid #4935D4;
    }
    input[type="email"], input[type="password"] { 
        outline: none;
    }
    input, button, submit { border:none; } 

 input[type=submit]{
     height: 40px; 
     border-radius: 50px;
     color:white ;
     background-color: #4935D4;
     width: 100%;
     display: block;
     margin-left: auto;margin-right: auto;
     margin-top: 20px;

 }
 input[type=submit]:hover{
    background-color: #3a26b9;
    color: white;
 }
 input[type=submit]:focus{
    outline: none;
 }
 hr{
    margin-top: 20px;
    width: 300px
}
a{
    display: block;
    color: inherit; 
    text-decoration: none;
    color: rgb(124, 124, 124);
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
       
}
a:hover {
    color: #4935d4;
}

@media screen and (max-width:600px){
    section {
        padding: 30px 30px 30px ;
    }

}