body{
    background-color: #EBEBEB;
    font-family: 'Raleway';
    overflow: hidden;
    padding:20px;
}
section {
    padding: 50px 50px 50px 50px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: white;
    max-width: 400px; 
    margin-left: auto; margin-right: auto;
}
h1 {
    color: #4935D4;
    font-weight: 700;
}
.signup-labels {
     font-size: 13px;
     font-weight: 700;
     
}
 .signup-fields{
     display: inline-block;
    margin-top: 5px;
    margin-bottom: 12px;
    padding-left: 20px;
    border: 1px solid #ccc;
    height: 40px;
    width: 380px;
    color: #797979;
    font-size: 15px;
    
    
 }
 .signup-fields:focus{
    border: 1px solid #4935D4;
    }
input[type="text"], input[type="password"],input[type="number"],input[type="email"] { 
    outline: none;
}

input, button, submit { border:none; } 

 input[type=submit]{
     height: 40px; 
     border-radius: 50px;
     color:white ;
     background-color: #4935D4;
     width: 250px;
     display: block;
     margin-left: auto;margin-right: auto;
     margin-top: 20px;

 }
 input[type=submit]:hover{
    background-color: #3a26b9;
    color: white;
 }
 input[type=submit]:focus{
    outline: none;
 }
.small-fields-container{
    display: flex;
    
}
#id{
    width: 173px;
    margin-left: 10px;
}

#id-label{
    margin-left: 10px;
}
#username {
    width: 173px;
}
 span {
     color: rgb(124, 124, 124);
     font-size: 13px;
 }
 a{
     display: block;
     color: inherit; 
     text-decoration: none;
     color: rgb(124, 124, 124);
     margin-top: 20px;
     font-size: 12px;
     text-align: center;
        
}
 a:hover {
     color: #4935d4;
 }

hr{
    margin-top: 20px;
    width: 70%;
    text-align: center;
}   

@media screen and (max-width: 550px) {
   body{
   } 
    section{
        padding: 30px 30px 30px 30px;
        margin: 20px;
        margin-left: auto; margin-right: auto;
    }
    h1 {
        font-size: 20px;
    }
    .signup-fields{
        width: 92%;
        margin-left: auto; margin-right: auto;
        font-size: 13px;
  }

    .small-fields-container{
        display: block;
    }
    #username{
        width: 92%;
    }
    #id{
        width: 92%;
        margin-left: 0px;
    }
    #id-label{
        margin-left: 0%;
    }
   
    input[type="submit"]{
        width: 70%;
    }
    input[type="text"]{
        display: inline-block;
    }
    .signup-labels{
        font-size: 12px;
    }
    
  }
  