body{
    background-color: #EBEBEB;
    font-family: 'Raleway';
}
section {
    padding: 50px 50px 50px 50px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: white;
    max-width: 400px; 
    margin-left: auto; margin-right: auto;
}
h1 {
    color: #4935D4;
    font-weight: 700;
}
.login-labels {
     font-size: 13px;
     font-weight: 700;
     
}
 .login-fields{
    margin-top: 5px;
    margin-bottom: 12px;
    padding-left: 20px;
    border: 1px solid #ccc;
    height: 40px;
    width: 95%;
    color: #797979;
    font-size: 15px;

    
 }
 .login-fields:focus{
    border: 1px solid #4935D4;
    }
    input[type="text"], input[type="password"] { 
        outline: none;
    }
    input, button, submit { border:none; } 

 input[type=submit]{
     height: 40px; 
     border-radius: 50px;
     color:white ;
     background-color: #4935D4;
     width: 100%;
     display: block;
     margin-left: auto;margin-right: auto;
     margin-top: 20px;

 }
 input[type=submit]:hover{
    background-color: #3a26b9;
    color: white;
 }
 input[type=submit]:focus{
    outline: none;
 }

 span {
     color: rgb(124, 124, 124);
     font-size: 13px;
 }
 .place i {
    margin-left: -30px;
    cursor: pointer; 
}
 a{
     display: block;
     color: inherit; 
     text-decoration: none;
     color: rgb(124, 124, 124);
     margin-top: 20px;
     font-size: 12px;
     text-align: center;
        
}
 a:hover {
     color: #4935d4;
 }
 section > div {
     max-width: fit-content;
     margin-left: auto;margin-right: auto;
     text-align: center;
 }
hr{
    margin-top: 20px;
    width: 300px
}
@media screen and( max-width: 600px){
hr{
width: 50px; 
}
}